apiVersion: v1
kind: ConfigMap
metadata:
  name: grafana-datasources
data:
  prometheus.yaml: |
    apiVersion: 1
    datasources:
      - name: Prometheus
        type: prometheus
        access: proxy
        url: http://prometheus-service:9090
        isDefault: true
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: grafana
spec:
  replicas: 1
  selector:
    matchLabels:
      app: grafana
  template:
    metadata:
      labels:
        app: grafana
    spec:
      containers:
      - name: grafana
        image: grafana/grafana:latest
        ports:
        - containerPort: 3000
        env:
        - name: GF_SECURITY_ADMIN_PASSWORD
          value: admin
        volumeMounts:
        - name: datasource-volume
          mountPath: /etc/grafana/provisioning/datasources/prometheus.yaml
          subPath: prometheus.yaml
        - name: dashboard-provider-volume
          mountPath: /etc/grafana/provisioning/dashboards/dashboard-provider.yaml
          subPath: dashboard-provider.yaml
        - name: dashboard-volume
          mountPath: /var/lib/grafana/dashboards/django-dashboard.json
          subPath: django-dashboard.json
        - name: pods-dashboard-volume
          mountPath: /var/lib/grafana/dashboards/k8s-pods-dashboard.json
          subPath: k8s-pods-dashboard.json
        - name: minikube-dashboard-volume
          mountPath: /var/lib/grafana/dashboards/minikube-dashboard.json
          subPath: minikube-dashboard.json
      volumes:
      - name: datasource-volume
        configMap:
          name: grafana-datasources
      - name: dashboard-provider-volume
        configMap:
          name: grafana-dashboard-provider
      - name: dashboard-volume
        configMap:
          name: grafana-dashboard-config
      - name: pods-dashboard-volume
        configMap:
          name: grafana-pods-dashboard-config
      - name: minikube-dashboard-volume
        configMap:
          name: grafana-minikube-dashboard-config
---
apiVersion: v1
kind: Service
metadata:
  name: grafana-service
spec:
  selector:
    app: grafana
  ports:
  - protocol: TCP
    port: 3000
    targetPort: 3000
  type: LoadBalancer
